{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}
<div class="jumbotron">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
	<div class="col-xs-2 col-md-2 column banner">
	  <a href="http://cfm.ehu.eus" title="Materials Physics Center">
	    <img alt="Materials Physics Center banner" src="img/cfm-banner.png" />
	  </a>
	</div>

<!--
	<div class="col-xs-2 col-md-2 column banner">
	  <a href="http://dipc.ehu.eus" title="Donostia International Physics Center">
	    <img alt="Donostia International Physics Center" src="img/dipc-banner.png" />
	  </a>
	</div>
-->
	<div class="col-xs-2 col-md-2 column banner">
	  <a href="http://www.csic.es" title="Consejo Superior de Investigaciones Científicas">
	    <img alt="Consejo Superior de Investigaciones Científicas" src="img/csic-banner.png" />
	  </a>
	</div>
	<div class="col-xs-2 col-md-2 column banner">
	  <a href="http://www.ehu.eus" title="University of the Basque Country">
	    <img alt="University of the Basque Country banner" src="img/ehu-banner.png" />
	  </a>
	</div>
  </div>
</div>

    <div class="col-md-10 col-md-offset-1">
	    <h2>{{page.venue}} <br>Software Carpentry Workshop</h2>
      <div class="row">
        <div class="col-md-6">
          <!--<p>{{page.humandate}}</p>
          <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
	  <p><a href=https://www.ehu.eus/es/web/gipuzkoa/elbira-zipitria-zentroa>Elbira Zipitria Center</a>, room 0.01, UPV/EHU Ibaeta Campus, San Sebastian - Donostia</p>
	  -->
	  <p>UPV/EHU Ibaeta Campus, San Sebastian - Donostia</p>
          <p>27-28 June 2017, 9:00 am - 6:00 pm<br>
          29 June 2017, 9:00 am - 13:00 pm</p>
        </div>
        <div class="col-md-6">
          <p>
          <strong>Instructors:</strong>
          {% if page.instructor %}
          {{page.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
          </p>
          {% if page.helper %}
          <p>
          <strong>Helpers:</strong>
          {{page.helper | join: ', ' %}}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
