<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students, post-doctoral researchers, and other researchers.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>

  <p style="margin-left: 40px"> Applicants from the organizing and collaborating entities will have priority, but the course is open to all scientific community.
</p>

  <p style="margin-left: 40px">
 There is no cost to attend and coffee breaks are included.
</p>
</p>
